<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <button class="nav-button">
      <a href="/flights"> ALL FLIGHTS</a>
    </button>
    <button class="nav-button">
      <a href="/flights/new">ADD FLIGHT</a>
    </button>
  </nav>
  <h1> Add New Flight</h1>
  <form action="/flights" method="POST" autocomplete="off">
    <label for="airline-input">Airline: </label>
    <input type="text" name="airline" id="airline-input">
    <label for="airport-input">Airport: </label>
    <select name="airport" id="airport-select">
      <option value="DEN"> DEN</option>
      <option value="AUS"> AUS</option>
      <option value="DFW"> DFW</option>
      <option value="LAX"> LAX</option>
      <option value="SAN"> SAN</option>
  </select>
    <label for="flightNo-input">Flight Number: </label>
    <input type="number" name="flightNo" id="flightNo-input">
    <label for="departs-input">Depart Date: </label>
    <input type="date" name="departs" value="" id="departs-input">
    <div class="add-flight" >
      <button type="submit">Add Flight</button>
    </div>
  </form>
</body>
</html>